.job-card-area{ 
    padding: 27px 0px !important;
    margin-right: -2px;
    transition: all 0.25s ease;
}
.job-card-area:hover{
    cursor: pointer;
    background: white;
    box-shadow: 0 0 5px 1px #bcbcbc;
}
.job-card-area:hover .job-title{
    color: red;
}
.job-card-area:hover .tag{
    color: red;
}
.tag{ 
    border: 1px solid black;
    padding: 3px 7px;
    margin-right: 10px;
}
.img-company{
    border: 1px solid #ccc;
    width: 65px;
    height: 65px;
}
.txt-hotjob{
    background-color: #ff9e34;
    padding: 2px 10px;
    color: white;
}
.card-left-area{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 40px;
}
